---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Главная">
	<div class="p-10 space-y-5">
		<h1 class="text-3xl font-light italic">Welcome to my site</h1>
		<h3 class="text-xl italic">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
			commodi, culpa dolores tempore quod cupiditate corrupti voluptate earum
			minus libero. Blanditiis et in non voluptatum? Libero dolore commodi dolor
			asperiores eum nisi fuga ducimus voluptas eos, dolorem quidem id,
			voluptatem quis veritatis magni necessitatibus assumenda deserunt?
			Eligendi architecto suscipit libero quisquam quas vitae inventore
			perferendis hic cupiditate deserunt ex explicabo, perspiciatis, tempora
			maiores fugiat tempore laudantium saepe accusantium sequi cum autem earum,
			eaque iure. Modi vel reprehenderit omnis cumque minus culpa porro sunt
			amet facere! Cum sed aliquid amet accusantium necessitatibus veritatis
			deserunt repellat vel. Nam consequuntur itaque a magnam.
		</h3>
	</div>
</Layout>
