---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
<p><strong>ПОПРОБУЙТЕ выяснить «язык любви» Вашего ребенка</strong></p>
<p><strong>используя</strong></p>
<p><strong>материалы книги Гери Чепмена и Росса Кэмпбелл «ПЯТЬ ПУТЕЙ К
СЕРДЦУ РЕБЕНКА»:</strong></p>
<p>Мы, родители, очень любим своих детей. Именно из этой уверенности,
что тебя любят, малыш черпает силы, чтобы противостоять трудностям, с
которыми сталкивается. Ребенок сумеет реализовать все свои способности,
только если взрослые РЕГУЛЯРНО наполняют этой уверенностью сердце
малыша. Но не всегда взрослые знают, что у каждого ребенка свой язык
любви, потребность в особенном способе выражения любви. Этих языков
всего пять. Изучить их все необходимо каждому родителю и выяснить, какой
из них ближе для каждого из ваших детей, ибо это весьма индивидуально!
Но при этом использовать надо все пять языков, чаще прибегая к «родному»
языку вашего малыша.</p>
<p>«Родительская любовь должна быть безусловной, ведь настоящая любовь
не ставит условий. Ребенок не должен ее завоевывать». Каким бы ни был
родной язык вашего ребенка, важно говорить на этом языке, ничего не
требуя взамен. Мы любим его несмотря ни на что. Его достоинства и
недостатки роли не играют. Это не значит, что любой его поступок мы
одобряем. Это значит, мы любим его и показываем ему это, даже если его
поведение оставляет желать лучшего. Вседозволенности здесь не будет,
если быть последовательным: «сначала мы наполним сердце ребенка
уверенностью в том, что мы любим его, что он нам очень нужен, и лишь
потом будем заниматься его воспитанием и обучением».</p>
<p><strong>Путь №1. ПРИКОСНОВЕНИЕ.</strong></p>
<p><strong>«Папа так любит меня! Он всегда так радуется мне, крепко
обнимает и целует. А когда я уезжаю, папа прижимает меня к себе и
говорит, что будет очень скучать. Мама тоже любит меня, я знаю это – она
так старается для меня. Но она редко меня целует. Почему она не такая
как папа?»</strong></p>
<p>Это один из самых громких голосов любви и доступный с самого рождения
малыша, но потребность в ласке не уменьшается со временем. Младенцы,
которых часто беру на руки, обнимают, целуют, физически и эмоционально
развиваются быстрее и гармоничнее, чем те, кто подолгу остаются
одинокими. Ребенок, говорящий на этом языке, все время будет лезть Вам
под руку, напрыгивать на вас из-за угла с веселым хохотом, он любит
бороться с папой, и держать Вашу руку при разговоре, сидеть на коленях.
Понаблюдайте за ним, за его потребностями. Ласка одинаково нужна как
девочкам, так и мальчикам. Некоторые родители опасаются, что ласка
сделает их мальчиков изнеженными женоподобными созданиями. Это
заблуждение. Если ребенок уверен в любви окружающих, у него формируется
здоровая самооценка и правильная сексуальная ориентация. «Если вы
пользуетесь языком прикосновений, чтобы выразить на нем не любовь, а
неприязнь, вы нанесете ему тяжелую травму». Помните – вы для ребенка
модель поведения. Чтобы удостовериться, просто наблюдайте, как он сам
пользуется «языком прикосновений».</p>
<p><strong>Путь №2. СЛОВА ПООЩРЕНИЯ.</strong></p>
<p><strong>«Я знаю, что родители меня любят. Они так поддерживают меня.
Когда я сломала руку, делать уроки было очень трудно, а мама с папой
старались меня подбодрить. Если рука болела, они говорили, чтобы я
отдохнула. Они повторяли, какая я мужественная, как они гордятся мной.
Они были уверены, что я справлюсь».</strong></p>
<p>Некоторые дети не могут без них. Любая похвала, любое доброе слово
говорит им о любви. Важно говорить ласковые слова, хвалить ребенка,
ободрять и наставлять его. Даже если малыш еще не понимает слова, он
чувствует тепло и заботу, видит ласковый взгляд, слышит мягкий нежный
голос. Все это наполняет его любовью. Когда мы хвалим ребенка, мы
благодарим его за то, что он сделал, чего добился сам, что стоило ему
усилий. Хвалить можно только за сознательный поступок (даже если это
была попытка, окончившаяся неудачей, но ведь он старался!). Важно также
ободрять ребенка («придавать бодрости, мужества»), а еще наставлять его,
ведь Вы – наставник его, Вы показываете ему дорогу, терпеливо и с
любовью. Без запретов не обойтись, но лучше ставить перед ребенком цели,
увлекать его, развивать его способности. И тогда он наверняка избежит
пагубных влияний времени, ведь ему будет просто некогда и неинтересно.
Он будет доверять своим родителям. Постоянная критика вредит любому
ребенку, но тому, для кого слова поощрения – путь доказательства
родительской любви, критика противопоказана! Если у Вас вырвалось резкое
замечание, постарайтесь тут же извиниться и объяснить ситуацию спокойно,
расскажите про свои чувства. И счастье ребенка станет вам наградой!</p>
<p><strong>Путь №3. ВРЕМЯ.</strong></p>
<p><strong>«Конечно, они очень любят меня! Мы часто куда-нибудь ходим
всей семьей, даже маленького брата берем. На прошлой неделе папа взял
меня на рыбалку. Удить рыбу не очень интересно, но я очень люблю ездить
с папой».</strong></p>
<p>Вы заняты, ребенок вертится рядом, мешает вам, Вы обещаете ему
поиграть с ним попозже, но это не помогает. Поиграйте с ним сейчас, но и
мысленно и эмоционально переключитесь в этот момент на него. Вы приятно
удивитесь, что через некоторое время у вас появится возможность спокойно
заняться собой, а довольный, уверенный в Вашей любви ребенок будет занят
собой. Итак, его родной язык – время. Не обязательно делать то, что вам
самому скучно, ребенок почувствует Ваше состояние, и ВАШЕ ВРЕМЯ будет
испорчено. Можно вместе помыть машину, пойти в спортзал, найти необычной
формы ветку, нарисовать другу открытку, обсудить последнее яркое событие
вашей жизни, побегать взапуски или почитать книжку, посадив ребенка на
колени. Просто побыть наедине. Важно найти для каждого вашего ребенка
индивидуальное время, когда вы вдвоем. Ребенок должен знать, что у него
оно есть, рассчитывать на него. Просто всегда планируйте это ВРЕМЯ. При
общении обязательно смотрите в глаза, следите, делитесь мыслями и
чувствами. Степень доверия определяете Вы! Если «родной язык» вашего
малыша – время, а Вы не уделяете ему достаточно времени и внимания, Ваш
ребенок решит, что Вы не любите его, даже если на словах вы говорите
обратное, и эта гнетущая мысль будет изводить его постоянно. Ваша задача
– заполнить его сосуд любви.</p>
<p><strong>Путь №4. ПОДАРКИ.</strong></p>
<p><strong>«Учительница у нас очень добрая. И я ей сразу понравился.
Вот, смотри, что она мне подарила».</strong></p>
<p>Для некоторых детей именно это – единственно верный путь. Однако
подарок становится символом любви лишь тогда, когда ребенок видит, что
родители действительно заботятся о нем. Если вы хотите отблагодарить
ребенка за услугу – это плата, если пытаетесь подкупить его – это
взятка. Настоящий подарок дается не в обмен на что-то, а просто так.
Подарки не обязательно покупать. Их можно находить, делать самим. Для
ребенка не имеет значения ни размер, ни цена подарка, ни их количество.
Главное, продумать, как это преподнести (например, в красивой упаковке,
вечером, за семейным столом), с какими чувствами. Все дети любят
подарки, но, если это «родной язык» вашего ребенка, у него особое к ним
отношение. Он радуется ему, долго его крутит в руках, охает и ахает,
гадает, что же там внутри, аккуратно распаковывает, потом долго о нем
всем рассказывает, отводит ему особое место и всегда помнит, кто и когда
его подарил. Он дорожит им, т.к. видит в нем Вашу любовь. Дети должны
расти в полной уверенности – их любят, они нужны, необходимы, иначе вряд
ли они достигнут того, чего могли бы!</p>
<p>И конечно, здесь есть риск, своеобразная ловушка… нельзя превращать
жизнь семьи в соревнование, кто больше задарит ребенка. Надо научиться
переводить понятие подарок из материального в нематериальное: какой
чудесный сегодня день (утро, ужин, солнце…) – настоящий подарок; наша
встреча с папой, твое рождение – это настоящий подарок судьбы, «я буду
всегда благодарить судьбу и т.д.</p>
<p><strong>Путь №5. ПОМОЩЬ.</strong></p>
<p><strong>«Мама любит меня, она обо мне заботится. Каждый вечер она
помогает мне готовить уроки, пришивает пуговицы, кормит нас ужином. Ей
приходится много работать, чтобы мы ни в чем не нуждались. Наверное,
папа тоже меня любит, но он редко нам помогает».</strong></p>
<p>Изучая этот язык, будьте осторожны. Ни в коем случае не используйте
его как средство манипуляции детьми. Они маленькие, им не обойтись без
нас, взрослых. Помогать детям – не значит полностью обслуживать их.
Сначала мы действительно многое делаем для них. Однако это
воспринимается как норма существования: мама всегда это делает,
независимо от состояния и загруженности. Объясняйте, что все, что Вы
делаете продиктовано любовью к ним, тот кто любит, тот заботится… Мы
должны их научить этому языку любви, чтобы и они помогали нам. Но не
ждите, что дети сделают все так же, как и вы. Если путь к сердцу Вашего
ребенка – помощь, это не значит, что любое его желание – закон для вас.
Обдумайте, принесет ли Ваша помощь ему пользу, сможете ли вы своим
поступком уверить его в том, что любите его. Даже если ребенок не
«говорит» на «языке помощи», забота родителей ему необходима. Однако,
если помощь – «язык», который он понимает, для него Ваша забота –
выражение истинной любви. Когда ребенок просит Вас починить велосипед
или куклу, ему не просто хочется, чтобы игрушка вновь была целой, ему
нужна Ваша любовь.</p>
<p>Ребенку нужно доказывать свою любовь всеми способами, о которых
говорилось. Ведь все люди такие разные. Если мы осваиваем только один
способ доказательств, забывая об остальных четырех, он будет знать
только один способ выражения любви. Если в нашем арсенале все пять
способов, он выучит их все. Он без труда сможет общаться с любым
человеком, ведь он станет «универсалом».</p>
<p>По наблюдениям специалистов, у каждого человека два ведущих "языка
любви" - "прикосновение" и один из четырех остальных, свой
индивидуальный. Иногда они просто нереализованные, "нераскрытые". А у
ребенка ведущие языки могут меняться (он их пробует, изучает). Развивать
необходимо все! Это залог психо-физиологического здоровья ребенка.</p>
</Layout>
